body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    text-align:center;
}

.container{
    max-width:700px;
    margin:20px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

h1{
    color:#2ecc71;
}

input{
    width:80%;
    padding:12px;
    margin:20px 0;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    background:#2ecc71;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#27ae60;
}

@media (max-width:768px){

    .container{

        width:95%;

        margin:30px auto;

        padding:25px;

    }

}